<div
  class="modal fade"
  id="appointmentModal"
  tabindex="-1"
  aria-labelledby="Make an appointment modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Запишитесь на проверку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Имейл</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="tel" class="form-label">Телефон</label>
            <input type="tel" class="form-control" id="tel" />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkbox" />
            <label class="form-check-label" for="checkbox">
              Я хочу получить информацию о новостях и акциях компании
            </label>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
