<div
  class="modal fade"
  id="callModal"
  tabindex="-1"
  aria-labelledby="Call me modal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Напишите контакты для обратной связи</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Фио</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp" />
          </div>
          <div class="mb-3">
            <label for="tel" class="form-label">Телефон</label>
            <input type="tel" class="form-control" id="tel" />
          </div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
