.text_media {
  &__content {
    text-align: start;
    margin: 0;
    padding: 0;
    padding-inline-start: 0.625rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.61111;
    list-style-position: inside;
  }
}
