@use '../utils/mixins.scss';

.footer {
  &__top {
    padding: mixins.rem(25) 0;
    box-shadow: 0 0 5px #0000001e;
    background-color: var(--white);

    &_title {
      font-size: 18px;
    }
  }

  &__socials {
    column-gap: 30px;
    justify-content: center;

    @include mixins.tablet {
      justify-content: flex-end;
      padding-left: 50px;
    }

    &_list {
      column-gap: 15px;
    }

    &_link {
      width: 60px;
      height: 60px;
      border-radius: 50%;

      svg {
        width: 20px;
        height: 20px;
      }

      &-instagram {
        background-image: var(--insta-icon);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__inner {
    padding: 18px 0;
  }

  &__logo {
    width: 200px;
  }

  &__contacts_actions {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
  }

  &__contacts_text {
    font-size: 14px;
    line-height: 22px;
    color: var(--light-grey);
  }

  &__menu_groups {
    column-gap: 30px;
  }

  &__menu_group {
    flex: 0 0 auto;
    margin-bottom: 15px;
  }

  &__menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu_item {
    margin-bottom: 10px;
  }

  &__menu_link {
    text-decoration: none;
    color: var(--light-grey);
    transition: color 0.2s linear;

    &:hover {
      color: var(--green);
    }
  }

  &__privacy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    background: var(--white);
    font-size: 14px;
    line-height: 20px;
    color: var(--light-grey);
    box-shadow: var(--shadow-gray);

    &_link {
      font-size: 14px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 600;
      color: var(--light-grey);
      text-decoration: underline;
    }
  }

  &__icon {
    color: var(--light-grey);
    column-gap: 10px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}
