@use '../utils/mixins.scss';
.footer {
  &__top {
    padding: mixins.rem(25) 0;
    box-shadow: 0 0 5px #0000001e;
    background-color: var(--white);

    &_title {
      font-size: 18px;
    }
  }
  &__socials {
    column-gap: 30px;
    justify-content: center;

    @include mixins.tablet {
      justify-content: flex-end;
      padding-left: 50px;
    }
    &_list {
      column-gap: 15px;
    }
    &_link {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: red;
      border-radius: 50%;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__inner {
    padding: 18px 0;
  }

  &__logo {
    width: 200px;
  }

  &__contacts-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-gray-2);
  }

  &__contacts-text-bottom {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: var(--base-alpha);
  }

  &__menu {
    margin-top: 20px;
    padding-left: 30px;
  }

  &__menu-groups {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__menu-group {
    flex: 0 0 auto;
    margin-bottom: 15px;
  }

  &__menu-title {
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__menu-item {
    margin-bottom: 10px;
  }

  &__menu-link {
    text-decoration: none;
    color: var(--base-alpha);
    transition: color 0.2s linear;

    &:hover {
      color: var(--green);
    }
  }

  &__privacy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    background: var(--light-color);
    font-size: 14px;
    line-height: 20px;
    color: var(--light-grey);
    box-shadow: var(--shadow-gray);
    &_link {
      font-size: 14px;
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 600;
      color: var(--light-grey);
      text-decoration: underline;
    }
  }

  &__icon {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
