<header class="header">
  <div class="container">
    <div class="header__inner d-flex justify-content-between align-items-center">
      <a href="#" class="header__logo text-dark ms-xl-4" aria-label="Site Logo">
        <svg viewBox="0 0 204 60">
          <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
      </a>
      <hr class="vr d-none d-xxl-inline-block" />
      <div class="header__mid align-items-center d-none d-xxl-flex">
        <div class="header__location">
          <p class="text-uppercase fw-bold m-0">Текст Текст</p>
          <div class="d-flex align-items-center">
            <button type="button" class="d-flex align-items-center pe-1">
              <svg viewBox="0 0 14 16" class="header__location_icon me-1">
                <use xlink:href="images/sprite.svg#location"></use>
              </svg>
              <span class="text-success fw-bold">Тексттт (10)</span>
            </button>
            <hr class="vr d-none d-lg-inline-block" />
            <span class="ms-1">текст (10)</span>
          </div>
        </div>
        <button class="button button-outlined button-has_icon header__check fw-600 text-capitalize text-start" type="button" data-bs-toggle="modal" data-bs-target="#appointmentModal">
          <span class="d-inline-block me-1 text-success">
            <svg viewBox="0 0 31 32" class="header__check_icon me-1">
              <use xlink:href="images/sprite.svg#check"></use>
            </svg>
          </span>
          <span class="button__text">Запишитесь на проверку</span>
        </button>
      </div>
      <hr class="vr d-none d-xxl-inline-block" />
      <div class="header__right d-flex align-items-center">
        <div class="header__contact d-none d-lg-flex">
          <a class="header__contact_phone" href="tel:+78001111111">
            <span>+7 (800) 111-111-1</span>
          </a>
          <button class="header__contact_call" type="button" data-bs-toggle="modal" data-bs-target="#callModal">Перезвоните мне</button>
        </div>
        <div class="header__buttons d-flex align-items-center">
          <a class="header__buttons_btn d-flex align-items-end position-relative text-danger" href="/wishlist">
            <i>
              <svg viewBox="0 0 28 24">
                <use xlink:href="images/sprite.svg#wishlist"></use>
              </svg>
            </i>
            <span class="position-absolute top-0 end-0 d-flex justify-content-center align-items-center"> 7</span>
          </a>
          <a class="header__buttons_btn d-flex align-items-end position-relative" href="/cart">
            <i>
              <svg viewBox="0 0 30 28">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
            </i>
            <span class="position-absolute top-0 end-0 d-flex justify-content-center align-items-center">3</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
