<nav class="navbar">
  <div class="navbar__inner container">
    <button class="navbar-toggler d-xxl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar__list justify-content-center d-none d-xxl-flex" id="navbarScroll">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Текст текст</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Текст текст текст</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Текст текст</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Текст текст</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Текст текст</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span>Текст текст</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar__search">
      <form class="navbar__search_form">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button type="button">
          <svg viewBox="0 0 24 24" class="svg-icon">
            <use xlink:href="images/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</nav>
